{% extends 'landing/base.html' %}
{% load static %}
{% load cache %}
{% block head %}
    <title>{{ service_obj.title }}</title>
    {% cache 3600 detail %}
    <link rel="stylesheet" href="{% static 'css/service_detail.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_non_main.css' %}">
    {% endcache %}
    <meta name="description" content="{{ service_obj.title }} - одна из наших услуг, мы можем вас проконсультировать, для этого воспользуйтесь формой снизу сайта">

{% endblock head %}
{% block content %}
    {% include 'parts/charyn.html' %}
    <h1 class="Service_zag">{{ service_obj.title }}</h1>
    <div class="Wrapper_services">
    <img alt="onload" class="Service_image" src="{{ service_obj.image.url }}">
    <p class="Service_descrip">{{ service_obj.description|striptags }}</p>
    </div>
        <script src="{% static "js/non_main_page_header.js" %}"></script>
    <script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};


</script>
{% endblock content %}