{% extends 'landing/base.html' %}
{% load static %}
{% load cache %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/services_list.css' %}">
        <link rel="stylesheet" href="{% static 'css/header_non_main.css' %}">

{% endblock head %}
{% block content %}
{#    {% cache 3500 services %}#}
    <div class="Services_bg">
    <h3>Услуги</h3>
    <p>Мы предоставляем наиболее качественные услуги в сфере замеров выбросов в атмосферу</p>
    </div>
<div class="Text_services_wrapper">
<h1 class="Zag_service">Our vision to provide exceptional service and waste management solutions for businesses has been realized thanks to the efforts of our committed and experienced people.</h1>
<p class="Descript_services">In 2007 GoGreen identified a significant waste management industry market need. Businesses were looking for a partner large enough and experienced enough to manage high volume and time-critical work with ease, and one who would remain responsive, reliable and truly customer-focused.</p>
</div>
    {% for group in Services_group %}
    <p>{{ group.title }}</p>

{% endfor %}
<div class="Services_wrapper">

{% for service in Services %}
    <div class="services_item">
    <img class="Service_img" src="{{ service.image.url }}" />
    <a class="services_title" >{{ service.title }}</a>
   <p class="service_descrip"> {{ service.description|truncatewords:35 }}</p>
</div>
{% endfor %}
</div>
{#    {% endcache %}#}
        <script src="{% static "js/non_main_page_header.js" %}"></script>
    <script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};


</script>
{% endblock content %}