{% extends 'landing/base.html' %}
{% load static %}
{% load cache %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/services_list.css' %}">
        <link rel="stylesheet" href="{% static 'css/header_non_main.css' %}">
<title>Услуги</title>
        <meta name="description" content="Мы предоставляем более тринадцати услуг на протяжении уже 29 лет">

{% endblock head %}
{% block content %}
    {% cache 3500 services %}
    <div class="Services_bg">
    <h3>Услуги</h3>
    <p>Мы предоставляем наиболее качественные услуги в сфере замеров выбросов в атмосферу</p>
    </div>
<div class="Text_services_wrapper">
<h1 class="Zag_service">Мы предоставляем решения в области </h1>
<p class="Descript_services">С 1997 года мы успели поработать над более чем 1000 проектами, это придаёт нам уверенность в том, что мы постоянно совершенствуемся и не стоит на месте.</p>
</div>
    <div>
    {% for group in Services_group %}
    <h2 class="GroupText">{{ group.title }}</h2>
        <div class="Services_wrapper">
    {% for service in group.service_set.get_queryset  %}
    <div class="services_item">
    <a href="{{ service.get_absolute_url }}"><img class="Service_img" src="{{ service.image.url }}" /></a>
    <a class="services_title" href="{{ service.get_absolute_url }}">{{ service.title|truncatechars:40 }}</a>
   <p class="service_descrip"> {{ service.description|striptags|truncatechars:85 }}</p>
</div>
    {% endfor %}
        </div>
{% endfor %}
    </div>
{#<div class="Services_wrapper">#}
{##}
{#{% for service in Services %}#}
{#    <div class="services_item">#}
{#    <img class="Service_img" src="{{ service.image.url }}" />#}
{#    <a class="services_title" >{{ service.title }}</a>#}
{#   <p class="service_descrip"> {{ service.description|truncatewords:35 }}</p>#}
{#</div>#}
{#{% endfor %}#}
{#</div>#}
    {% endcache %}
        <script src="{% static "js/non_main_page_header.js" %}"></script>
    <script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};


</script>
{% endblock content %}