*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
      display:flex;
  flex-direction:column;
    height:100vh; margin:0;
}
header{
    display: flex;
    flex-direction: row;
    background-color: #333333;
    height: 7vh;
}
.LogoImg{
    margin-left: 25vw;
    background-image: url("../img/logo.png");
    width: 5vw;
    height: 5vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.TextHeaderHorizontal{
    display: flex;
    margin-right: 15vw;
}
.P_header{
    font-size: 27px;
    margin: auto 1vw;

}
.P_header>a{
    color: white;
}
.P_header>a:hover{
    color: #62FF75;
}



/*
Footer part
*/
.FooterLogoImg{
    background-image: url("../img/logo.png");
    width: 7vh;
    height: 7vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.UnderFooter{
background-color: black;
}
.UnderFooter>h1, .UnderFooter>h1>a{
    font-size: 24px;
    text-decoration: none;
    color:dimgrey;
}
footer{
     background-color: #180C1D;
    margin-top: auto;
    bottom: 0;
}
.DescripFooter{
color: dimgrey;
}
.LocationFooter{

}
.LeftSideFooter{
    width: 95%;
    margin: 0 auto;
}
.MiddleSideFooter{
    width: 95%;
    margin: 0 auto;
}
.MiddleSideFooter{
    color:gainsboro;
}
.new_description:hover{
    color: greenyellow;
}
.new_date{
color: greenyellow;
padding-bottom: 3vh;
}
.new_description{
color: dimgrey;
word-wrap: break-word;
margin-top: 3vh;
}
.Footer{
    display: flex;
    height: 95vh;
    margin: 0 auto;
    flex-direction: column;
}
.LeftSideFooter, .MiddleSideFooter, .RightSideFooter{
    /* display: flex;
    flex-direction: column;
    width: 25vw;
    margin-top: 7vh; */
}
