*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
body{
      display:flex;
  flex-direction:column;
    height:100vh; margin:0;
}
header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 15vw;
}
.BackgroundImgHeader{
    background-image: url("../img/header_img/panoram.jpg");
    height: 35vh;
     width: 100%;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    filter: brightness(0.5);
}
.LogoImg{
    margin-left: 5vw;
    background-image: url("../img/logo.png");
    width: 64px;
    z-index: 2;
    height: 64px;
    background-size: contain;
    background-repeat: no-repeat;
}
.LogoText{
    font-size: 23px;
    color: white;
    align-self: center;
        z-index: 2;

}
.TextHeaderHorizontal{
    display: none;
}
.P_header{
    font-size: 27px;
    margin: auto 1vw;

}
.P_header>a{
    color: white;
}
.P_header>a:hover{
    color: #62FF75;
}
.MobilePanel{
    display: none;
    flex-direction: column;
    width: 90vw;
    position: absolute;
    left: 5%;
    background-color: white;
    z-index: 5;
    border: 1px solid black;
}
.MobilePanel>a{
    text-align: left;
    line-height: 2;
    padding-left: 5vw;
    color: #c1d731;
    font-size: 18px;
    /*border-bottom: black solid 1px;*/
}
.MobilePanel>a:hover{
    color: white;
    background-color: #252525;
}
/*
Footer part
*/
.FooterLogoImg{
    background-image: url("../img/logo.png");
    width: 7vh;
    height: 7vh;
    background-size: contain;
    background-repeat: no-repeat;
}
.UnderFooter{
background-color: black;
}
.UnderFooter>h1, .UnderFooter>h1>a{
    font-size: 24px;
    text-decoration: none;
    color:dimgrey;
}
footer{
     background-color: #180C1D;
    margin-top: auto;
    bottom: 0;
}
.FooterLogo{
    display: flex;
}
.DescripFooter{
color: dimgrey;
}
.LocationFooter{

}
.LeftSideFooter{
    width: 95%;
    margin: 0 auto;
}
.MiddleSideFooter{
    width: 95%;
    margin: 0 auto;
}
.MiddleSideFooter{
    color:gainsboro;
}
.new_description:hover{
    color: #c1d731;
}
.new_date{
color: greenyellow;
padding-bottom: 3vh;
}
.new_description{
color: dimgrey;
word-wrap: break-word;
margin-top: 3vh;
}
.Footer{
    display: flex;
    height: 95vh;
    margin: 0 auto;
    flex-direction: column;
    background-color: #252525;
}
.footer_form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}
.footer_form>input{
    width: 75%;
    height: 4vh;
    padding: 1vw;
    margin: 1vw;
    color: darkgray;
    font-size: 18px;
    border: none;
    outline:none;
    background-color: #434f53;
}
.footer_form>p{
    color: white;
}
.footer_form>button{
    width: 41vw;
    height: 6vh;
    border-radius: 28px;
    background-color: #c1d731;
    font-size: 25px;
    color: white;
    border: none;
    outline: none;
    margin-top: 1vh;
}
.footer_form>button:hover{
    background-color: white;
    color: #c1d731;
}
.LeftSideFooter, .MiddleSideFooter, .RightSideFooter{
    /* display: flex;
    flex-direction: column;
    width: 25vw;
    margin-top: 7vh; */
}


/*
loader
*/
#loader{
 background-image: url("../img/loader.gif");
    width: 64px;
    height: 64px;
    background-size: contain;
    position: center;
    margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
    z-index: 5;
text-align: center;
}
#loader_complete{
     background-image: url("../img/check-mark.png");
    width: 64px;
    height: 64px;
    background-size: contain;
    position: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3vh;
    left: 0;
    right: 0;
    z-index: 5;
    text-align: center;
    animation: ease-out 1s normal;
}
#loader_complete>p{
    text-align: center;
    color: white;
    margin-top: 3vh;
}
.hidden{
    display: none;
}


/* media 768px + */
@media (min-width: 768px){
    #menu{
        display: none;
    }
    .LogoImg{
        margin-left: 1vw;
    }
    .LogoText{
        font-size: 19px;
        font-weight: bold;
        width: content-box;
    }
    .TextHeaderHorizontal{
        display: flex;
        z-index: 5;
    }
    header{
        flex-wrap: nowrap;
        justify-content: space-around;

    }
    .HeaderWrapper{
        z-index: 2;
        width: 100%;
        background-clip: content-box;
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
}
    #header_wrapper{
        transition: all 150ms linear;
    }
    .P_header{
        font-size: 19px;
    }
    .P_header>a:hover{
        color: #c1d731;
    }
    .Footer{
        padding-top: 5vh;
        padding-bottom: 3vh;
        flex-direction: row;
        height: unset;
    }
    .footer_form>button{
        width: 25vw;
        margin-left: 2vw;
    }
    .DescripFooter{
        margin-top: 2vh;
    }
    .MiddleSideFooter{
        font-size: 15px;
    }
    .LeftSideFooter{
        margin-left: 2vw;
        font-size: 14px;
    }
    .footer_form>p{
        text-align: center;
    }
    .footer_form>input{
        align-self: center;
    }
}