.Search_background{
    position: absolute;
    background-image: url("../img/charyyn.png");
    width: 100%;
    top: 23vh;
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}
@media (min-width: 1280px) {
.Search_background{
    position: absolute;
    background-image: url("../img/charyyn.png");
    width: 100%;
    top: 15vh;
    height: 40vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}
}