*{
    font-family: 'Raleway', sans-serif;
}
#LogoText{
    color: black !important;
}
.WrapperContacts{
    width: 95%;
    margin: 5vh auto;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-top: 5vh;
}

.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
p{
    font-size: 20px;
    color: gray;
    /*padding-bottom: 5vh;*/
}
h4{
font-weight: 300;
font-size: 20px;
}

@media (min-width: 1280px) {
    .WrapperContacts{
    width: 95%;
    margin: 20vh auto;
}
}