*{
    font-family: 'Raleway', sans-serif;
}
#LogoText{
    color: black !important;
}
.WrapperContacts{
    width: 95%;
    margin: 5vh auto;
}
.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-top: 5vh;
}
.Address_contacts{
    margin-top: 2vh;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:250px;
    width:100%;
    position:absolute;
}

.h_four{
font-weight: 500;
    font-size: 20px;
    margin-top: 2vh;
}
.p_contacts{
    color: #4f4f4f;
}

.itcss{
    max-width: unset !important;
}
.itcss__wrapper{
    background-color: unset !important;
}
.h3_contacts{

}
@media (min-width: 1440px) {
    .WrapperContacts{
    width: 95%;
    margin: 20vh auto;
        display: flex;
        flex-direction: row;
}
    .itcss__item{
        flex: 0 0 90% !important;
        display: flex;
        flex-direction: row;
    }
    .h3_contacts{
        font-size: 72px;
        position: absolute;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
text-align: center;
    }
    .map-responsive{
    padding-bottom:unset;
    position:relative;
    height:unset;
    margin-top: 13vh;
        margin-left: 15vw;
}
    .map-responsive iframe{
    left:0;
    top:0;
    height:450px;
    width:960px;
    position:absolute;
}
    .h_four{
    font-size: 36px;
        margin-top: 10vh;
    }
.p_contacts{
font-size: 26px;

}
.Address_contacts{
    margin: 3vh 0 0 15vw;
}
}