*{
    font-family: 'Raleway', sans-serif;
}
.outer {
    width: 95%;
    margin: 0 auto;
    font-family: arial;
    line-height: 26px;
}
.Faq_block{
    width: 90%;
    margin: 17vh auto 0 auto;
}
.Faq_block>h2, .Faq_block>p{
    text-align: left;
}
#LogoText{
    color: black !important;
}
.faq-content {
    color:lightgray;
    padding: 5px 20px;
}
summary {
    border-bottom: 1px solid gainsboro;
    color: black;
    padding: 16px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    outline: none;
    margin: 20px 0px;
}
details > summary::-webkit-details-marker {
    display: none;
}
details[open] summary ~ * {
    animation: smooth 0.4s ease-in-out;
}
@keyframes smooth {
    0% {
        opacity: 0;
        margin-top: -10px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}

@media (min-width: 1440px) {
    .Faq_block{
        margin-top: 22vh;
        padding-bottom: 10vh;
    }
    .Faq_block>h2 {
        font-size: 60px;
    }
    .Faq_block>p{
        font-size: 30px;
    }
    summary{
        font-size: 22px;
    }
    .faq-content{
        font-size: 24px;
    }
}