.ServicesBlock{
    background-color: #fafafa;
    padding-bottom: 3vh;
}
.ServiceItem{
}
.ServicesBlock>h1, .ServicesBlock>p{
    text-align: center;
}
.ServicesGrid{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ServiceItem_h2{
text-align: center;
 margin-top: 2vh;
    word-wrap: break-word;
}
.ServiceItem_p{
word-wrap: break-word;
color:darkgrey;
text-align: center;
line-height: 1.5;
}
.ServiceItem_img{
    width: 320px;
    height: 250px;
}
/* @media (max-width: 600px){
    .ServicesGrid{
        flex-direction: column;
    }
} */