*{
    font-family: 'Raleway', sans-serif;
}

/* SERVICE BLOCK ENJOYER */
.ServicesBlock{
    background-color: #fafafa;
    padding-bottom: 3vh;
    margin-top: 23vh;
}
.ServiceItem{
    margin-top: 4vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.ServicesBlock>h1, .ServicesBlock>p{
    text-align: center;
    color: #E8D8BD;
}
.ServicesBlock>h1{
    color: black;
    font-weight: 500;
}
.ServicesGrid{
    width: 95%;
    margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ServiceItem_h2{
text-align: center;
 margin-top: 2vh;
    word-wrap: break-word;
}
.Image_text{
    display: none;
}
.ServiceItem_p{
word-wrap: break-word;
color:#828282;
text-align: center;
line-height: 1.5;
width: 65vw;
margin: 0 auto;
}
.ServiceItem_img{
    width: 405px;
    height: 300px;
    align-self: center;
} 
/* SERVICES BLOCK ENDS */
/* Info block */
.Wrapper{
    width: 90vw;
    margin: 0 auto;
}
.InfoBlockTitle__p{
    font-size: 21px;
    margin-top: 3vh;
}
.InfoBlock__p{
    word-wrap: break-word;
    color:#828282;
    text-align: left;
    padding-bottom: 3vh;
    padding-top: 5vh;
}
.InfoBlock__img{
    background-image: url(../img/char.jpg);
    width: 90vw;
    height: 90vh;
    background-size: cover;
}

/* Info block ends */
/* FAQ BLOCK FAN */
.section_wrapper{
    background-color: #f7f4f0;
}
.Faq_block{
background-color: #f7f4f0;
text-align: center;
/*margin-top: 5vh;*/
padding-bottom: 5vh;
}
.Faq_item{
    background-color:#fafafa;
    width: 93vw;
    margin: 5vh auto;
    border: 2px solid white;
}
.Faq_item:hover{
    border: 2px solid #c1d731;
    transition: 0.75s;
}
.Faq_title{
    font-size: 18px;
    font-weight: normal;
}
.Faq_title, .Faq_answer{

    width: 85vw;
    margin: 5vh auto;
}
.Faq_answer{
    font-weight: 300;
    color:#828282;
    font-size: 17px;
}
.Faq_button{
    text-decoration: none;
    border: 1px solid #c1d731;
    border-radius: 30px;
    background-color: #c1d731;
    padding: 15px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.Faq_button:hover{
    color: #36D986;
    background-color: #fafafa;
}
/* FAQ BLOCK ENDS */


/* TESTIMONIALS START*/
.Testimonials{
    padding-bottom: 5vh;
}
.Testimonials>p{
    margin-top: 5vh;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}
.Testimonial_item{
    display: flex;
    flex-direction: row;
    margin-top: 5vh;
    justify-content: space-between;
}
.quote_img{
    background-image: url("../img/quote.png");
    width: 32px;
    height: 32px;
    background-size: cover;
    margin-left: 2vw;
}
.Testimonials_body{
    font-size: 18px;
    color: #828282;
    width: 80vw;
}
.NameOfTestimonials{
    font-size: 20px;
    font-weight: 700;
}
/* TESTIMONIALS END */

/* Number part */

.Number_block{
    background-color:#f7f4f0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7vh 0;
    
}
.Number_label{
    color: grey;
}
.Number_number{
    text-align: center;
    font-size: 36px;
    color:#E8D8BD;
}
/* Number part ends */

/* Latest news block  */
.LatestNews__Block{
    background-color: #fafafa;
    padding-top: 5vh;
    
}
.ExactNews__img{
   width: 405px;
    height: 300px;
    align-self: center;
}
.LatestNews__Block>p{
    text-align: center;
    padding-bottom: 3vh;
    font-size: 26px;
}
.Exact__news{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ExactNews__text{
    text-align: center;
    word-wrap: break-word;
}
.ExactNews__text>a{
    color: black;
}
.ExactNews__text>a:hover{
    transition: 0.3s;
    color: #c1d731;
}
.ExactNews_P_date{
    color: grey;
    margin-top: 2vh;
}
.ExactNews__text>p{
    margin-top: 3vh;
    padding-bottom: 3vh;
    color: #828282;
}
/* Latest news ends */


@media (max-width: 404px) {
    .ServiceItem_img, .ExactNews__img{
        width: 100%;
    max-height: 300px;
        background-size: cover;
    }

}
@media (min-width: 768px) and (max-width: 1280px){
    .ServicesGrid{
        flex-direction: row;
    }
    .ServiceItem_img{
        width: 235px;
        height: 180px;
    }
    .ServiceItem_p{
        width: 30vw;
    }
    .ServiceItem{

    }
    .Faq_wrapper{
        display: flex;
        flex-direction: row;
    }
    .Faq_item{
        width: 30vw;
        height: 25vh;
    }
    .Faq_block>p{
        font-size: 28px;
    }
    .Faq_title, .Faq_answer{
        width: unset;
    }
    .Number_block{
        flex-direction: row;
        justify-content: space-around;
    }
    .Number_number{
        font-size: 60px;
    }
    .Number_label{
        font-size: 20px;
    }
    .NewsWrapper{
        display: flex;
        flex-direction: row;
    }
    .ExactNews__text>p {
        margin-top: 1vh;
        padding-bottom: 1vh;
    }
    .ExactNews__img{
        width: 235px;
        height: 180px;
    }
}

@media (min-width: 1440px) {
    .Testimonials>p{
        font-size: 55px;
    }
.Testimonials_items_wrapper{
    display: flex;
    flex-direction: row;
    width: 95vw;
    margin: 0 auto;
    justify-content: space-around;
}
.Testimonials_body{
    width: 30vw;
    margin-left: 2vw;
    font-size: 20px;
}
.quote_img {
width: 48px;
    height: 48px;
}

    .Image_text{
        display: block;
        font-size: 72px;
        color: white;
        width: 75vw;
        position: absolute;
        z-index: 1;
        top: 20vh;
        left: 10vw;
    }
    .ServicesGrid{
        flex-direction: row;
        width: 88%;
    }
    .ServicesBlock{
        margin-top: 63vh;
    }
    .ServiceItem_img{

        width: 415px;
    height: 270px;
}

    .ServiceItem_p{
        width: 25vw;
        font-size: 18px;
    }
    .ServiceItem_h2{
        font-size: 22px;
        width: 455px;
    }
    .ServiceItem{

    }
    .Faq_wrapper{
        display: flex;
        flex-direction: row;
        width: 95%;
        margin: 0 auto;
        padding-bottom: 5vh;
    }
    .Faq_block{
        padding-bottom: 7vh;
    }
    .Faq_item{
        width: 30vw;
        padding: 1vw;
        margin: 1vw;
    }
    .Faq_title, .Faq_answer{
        width: unset;
        font-size: 22px;
    }
    .Number_block{
        flex-direction: row;
        padding-right: 16vw;
        padding-left: 16vw;
        justify-content: space-around;
    }
    .Number_number{
        font-size: 65px;
        font-weight: 500;
    }
    .Number_label{
        font-size: 25px;
    }
    .NewsWrapper{
        display: flex;
        flex-direction: row;
        width: 99%;
        margin: 0 auto;
    }
    .ExactNews__img{
        width: 455px;
        height: 280px;
    }
    .ExactNews_P_date, .ExactNews__text>a>h4, .ExactNews__text>p{
        font-size: 20px;
        width: 25vw;
    }
    .ServicesBlock>h1{
        font-size: 40px;
    }
    .ServicesBlock>p{
        font-size: 25px;
    }
}

@media (min-width: 1920px) {
    .ServiceItem_p {
        width: 15vw;
    }
    .ServicesGrid{
        width: 75%;
    }
    .ServiceItem_img{
        width: 455px;
        height: 280px;
}
    .Faq_block{
        padding-bottom: 6vh;
    }
    .Faq_wrapper{
        width: 75%;
        padding-bottom: 3vh;
    }
    .Faq_item{
    width: 22vw}

    .Testimonials_items_wrapper{
        width: 75vw;
        justify-content: unset;
    }
    .Testimonials_body {
    font-size: 18px;
    }
    .Number_label{
        font-size: 20px;
    }
    .Number_block{
        padding-left: 18vw;
        padding-right: 18vw;
    }
    .NewsWrapper{
        width: 75%;
    }
}