
.BurgerBefore_After{
  background-image: url("../img/header_img/white_icon.png");
margin: 0 auto;
    background-size: contain;
    width: 64px;
    height: 64px;
        cursor: pointer;
    background-color: white;
    border-radius: 10px;
}

.BurgerWrapper{
}
#menu{

    z-index: 5;
    width: 100%;
}