*{
        font-family: 'Raleway', sans-serif;
}
#LogoText{
    color: black !important;
}
.FlexCalendarDate{
    display: flex;
    margin-top: 2vh;
    padding-bottom: 2vh;
}
.Exact_news__calendar{
    background-image: url("../img/calendar.png");
    width: 16px;
    height: 16px;
    background-size: contain;
}
.FlexCalendarDate>p{
    margin-left: 3vw;
}
.Exact_news__wrapper{
    width: 95%;
    margin: 0 auto;
}
.Exact_news__wrapper>h1{
    font-size: 20px;
}
.Image_news_detail{
    width:max-content;
    height: max-content;
}
.Image_news_detail{
    margin-top: 2vh;
    width: 100%;
    height: 45%;
    background-size: cover;
}