.news__wrapper{
    width: 95%;
    margin: 0 auto;
    margin-top: 5vh;
    padding-bottom: 7vh;
}
.news__block{
    display: flex;
    margin-top: 5vh;
    padding-bottom: 5vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid darkgray;
}
.news__title{
    font-size: 25px;
    font-weight: 300;
    color: black;
}
.news__calendar{
    display: flex;
    flex-direction: row;
    align-self:flex-start;
    margin-top: 5vh;
    color: grey;
}
.newsCalendar__img{
    background-image: url('../img/calendar.png');
    width: 16px;
    height: 16px;
}
.news__image{
    margin-top: 5vh;
    width: 300px;
    height: 250px;
}
.news__description{
    margin-top: 5vh;
    word-wrap: break-word;
    color: darkgrey;
    font-size: 18px;
}
.news__button{
    
    margin-top: 5vh;
    border-radius: 20px;
    border-color: #c1d731;
    height: 45px;
    padding: 0px 10px;
    background-color:#c1d731;
    color: #fafafa;
    border-style: solid;
    font-size: 20px;
}

.newsDescrip__button{
    align-self: flex-start;
}
.news__search{
    border-radius: 30px;
    border-style: solid;
    border-color: black;
}