*{
    font-family: 'Raleway', sans-serif;
}
#LogoText{
    color: black !important;
}
.pass_docs_wrapper{
    width: 90%;
    margin: 10vh auto 0 auto;
    padding-bottom: 5vh;
}
.pass_docs_downloadable{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2vw;
}
.pass_docs_downloadable:hover{
    cursor: pointer;

}
.pass_docs_downloadable>a, .pass_docs_downloadable>p{
    align-self: center;
    color: black;
}
.pass_docs_description{
    padding-bottom: 2vh;
    margin-top: 2vh;
}
h3{
    margin-top: 1vh;
}
.pass_docs_download_icon{
    background-image: url("../img/download.png");
    width: 24px;
    height: 24px;
    background-size: contain;
}

@media (min-width: 1280px) {
    .pass_docs_wrapper{
        margin-top: 20vh;
    }
    .pass_docs_wrapper>h1{
        font-size: 72px;
    }
    .Flex_downloads{
        display: flex;
        flex-direction: row;
    }
    .Flex_downloads>h3{
        font-size: 40px;
        width: 15vw;
    }
    .downloads_n_text{
        width: 55vw;
        margin-left: 10vw;
        display: flex;
        flex-direction: column;
    }
    .pass_docs_downloadable{
        padding: 10px;
        justify-content: space-evenly;
    }
    .pass_docs_downloadable>a {
        /*margin-left: 2vw;*/
    }
    .pass_docs_downloadable>p{
        margin-left: 43vw;
    }
    .pass_docs_wrapper{
        padding-bottom: 0;
    }
    .Flex_downloads{
        padding-bottom: 5vh;
    }
}