{% extends 'landing/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
{% endblock head %}
{% block content %}
    <div class="Faq_block">
<h2>Если вам нужен ответ на вопрос</h2>
<p>Вы можете получить его здесь</p>
<div class="outer">
{% for faq in FAQS %}
<details>
            <summary>{{ forloop.counter }} {{ faq.question }}</summary>
            <div class="faq-content">
                <p>{{ faq.answer }}</p>
            </div>
        </details>
        
{% endfor %}
</div>
</div>
    
{% endblock content %}
