{% extends 'landing/base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/faq.css' %}">
        <link rel="stylesheet" href="{% static 'css/header_non_main.css' %}">

{% endblock head %}
{% block content %}
    {% include 'parts/upper_new_mountain.html' %}
    <div class="Faq_block">
<h2>Если вам нужен ответ на вопрос</h2>
<p>Вы можете получить его здесь</p>
<div class="outer">
{% for faq in FAQS %}
<details>
            <summary>{{ forloop.counter }} {{ faq.question }}</summary>
            <div class="faq-content">
                <p>{{ faq.answer }}</p>
            </div>
        </details>

{% endfor %}
</div>
</div>
        <script src="{% static "js/non_main_page_header.js" %}"></script>
    <script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};


</script>
{% endblock content %}
