{% extends 'landing/base.html' %}
{% load static %}
{% block head %}
<title>Новости</title>
<link rel="stylesheet" href="{% static 'css/news_list.css' %}">
{% endblock head %}
{% block content %}
<section class='news__wrapper'> 
    <form class="Search_block">
    <input type="search" placeholder="Поиск..." class="Input_block" />
    <button type="submit" class="Button_block">qwe</button>
        </form>
{% for news in NEWS %}
<div class="news__block">
<a class="news__title" href="{{ news.get_absolute_url }}">{{ news.title }}</a>

<div class="news__calendar">
    <div class="newsCalendar__img"></div>
    <p>{{ news.date|date:'d.M.Y' }}</p>
</div>

<a href="{{ news.get_absolute_url }}"><img src="{{ news.image.url }}" class="news__image" /></a>

<p class="news__description">{{ news.description|truncatewords:35 }}</p>

<a class="newsDescrip__button" href="{{ news.get_absolute_url }}">
    <button class="news__button">Прочитать полностью</button>
</a>
</div>
{% endfor %}
{% if NEWS.has_other_pages %}
  <ul class="pagination">
    {% if NEWS.has_previous %}
      <li><a href="?page=1" class="available_page"><<</a></li>
      <li><a href="?page={{ NEWS.previous_page_number }}" class="available_page"><</a></li>
    {% else %}
      <li class="disabled"><span class="font: normal normal normal 14px/1 FontAwesome;"><</span></li>
    {% endif %}
    {% for i in NEWS.paginator.page_range %}
      {% if NEWS.number == i %}
        <li class="active"><span>{{ i }} </span></li>
      {% else %}
        <li><a href="?page={{ i }}" class="available_page">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if NEWS.has_next %}
      <li><a href="?page={{ NEWS.next_page_number }}" class="available_page">></a></li>
        <li><a href="?page={{ NEWS.paginator.num_pages }}" class="available_page">>></a></li>
    {% else %}
      <li class="disabled"><span>></span></li>
    {% endif %}
  </ul>
{% endif %}
</section>
{% endblock content %}
