{% extends 'landing/base.html' %}
{% load static %}
{% block head %}
    <script type="text/javascript" src="https://vk.com/js/api/share.js?93" charset="windows-1251"></script>
<link rel="stylesheet" href="{% static 'css/news_detail.css' %}">
        <link rel="stylesheet" href="{% static 'css/header_non_main.css' %}">
<title>{{ Exact_news.title }}</title>
{% endblock head %}
{% block content %}
{% include 'parts/upper_lake.html' %}
    <div class="BothSidesWrapper">
<div class="Exact_news__wrapper">
<h1>{{ Exact_news.title }}</h1>
<div class="FlexCalendarDate"><div class="Exact_news__calendar"></div> <p>{{ Exact_news.date }}</p></div>
<script type="text/javascript">
    document.write(VK.Share.button({
      title: 'Новость с сайта Ecology-expert.kz',
      noparse: true
    }));
</script>
<img class="Image_news_detail" src="{{Exact_news.image.url}}" />
<p>{{ Exact_news.description }}</p>
</div>
<div class="Sidebar_news">
<p class="another_recent">Другие свежие новости</p>
    {% for news in recent %}
        <div class="recent_news__item">
        <a href="{{ news.get_absolute_url }}"><img class="recent_news__image" src="{{ news.image.url }}"></a>
       <a href="{{ news.get_absolute_url }}"><p class="recent_news__p">{{ news.title|truncatechars:25 }}</p></a>
        </div>
    {% endfor %}
    </div>
    </div>
    <script src="{% static "js/non_main_page_header.js" %}"></script>
    <script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};


</script>
{% endblock content %}