{% extends 'landing/base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about_us.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_non_main.css' %}">
{% endblock head %}
{% block content %}
    {% include 'parts/upper_lake.html' %}
    <section class="about_us_body">
   <h2> Мы - творческая команда профессионалов.</h2>

<p>Наш профессионализм и здоровые амбиции работают на решение важнейших государственных проблем экологического характера, способствуют росту экологической эффективности предприятий и устойчивому бизнесу заказчиков, принося моральное удовлетворение, профессиональный рост и финансовый результат каждому из нас и компании, в которой мы работаем.

Девиз TOO “Ecology Expert”- «Сделаем наш бизнес зеленым»!
</p>
        <br>
        <p>
1. Руководство TOO “EcologyExpert” заявляет, что деятельность ТОО направлена на:
<ul>
<li>обеспечение достоверности и объективности результатов проектных и инженерно-исследовательских работ;</li>
<li>своевременное и качественное выполнение всех работ;</li>
<li>безусловное соблюдение всех норм природоохранного законодательства во время проведения работ;</li>
<li>приобретение у заказчиков и деловых партнеров репутации авторитетной и объективной организации;</li>
<li>соблюдение принципа беспристрастности в отношении к каждому заказчику;</li>
<li>соблюдение принципа: "вознаграждение за труд зависит от вложенного труда" относительно всех работников ТОО;</li>
<li>понимание каждым работником, что его высокий профессиональный уровень усиливает конкурентоспособность ТОО;</li>
<li>использование новых информационных технологий для быстрой передачи и получения информации;</li>
<li>обеспечение работников ТОО материальными, техническими и информационными ресурсами для исполнения потребностей и ожиданий заказчиков;</li>
<li>обеспечение финансовой стабильности и независимости ТОО.</li>
        </ul>
            </p>
        <br>
        <p>
2. Достижение провозглашенных целей осуществляется путем регулярного исполнения следующих задач:
<ul>
<li>систематическое внедрение и постоянное совершенствование во всех видах деятельности ТОО внутреннего качества;</li>
<li>повышение квалификации персонала ТОО;</li>
<li>документируемая регламентация исполнения отдельных работ и процедур;</li>
<li>проведение внутренних проверок деятельности ТОО;</li>
<li>анализ деятельности ТОО и внедрения корректирующих мероприятий.</li>
        </ul>
        </p>
        <br>
        <p>
3. Реализация заявленной политики обеспечивается наличием и эффективным использованием необходимых ресурсов, а именно:
<ul>
<li>организационной структуры, которая обеспечивает выполнение всех функций ТОО;</li>
    <li>компетентного штатного персонала и привлеченных при необходимости специалистов других организаций, которые на договорной основе сотрудничают с ТОО;</li>
<li>комплекта должностных инструкций персонала ТОО;</li>
<li>актуализированного фонда нормативных документов;</li>
<li>комплекта документируемых процедур и форм документов, которые используются во время исполнения работ;</li>
<li>помещений и технических средств (в т.ч. компьютерной техники, копировальной техники, оргтехники, средств связи).</li>
        </ul>
    </p>
     </section>
        <script src="{% static "js/non_main_page_header.js" %}"></script>
    <script>
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};


</script>
{% endblock content %}
