<!DOCTYPE html>
{% load static %}
{% load cache %}
<html lang="en">
<head>
{% block head %}
{% endblock head %}
{% cache 25000 header %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile_header.css' %}">
{% endcache %}
{% comment %} <link rel="stylesheet" href="{% static 'js/slideout-1.0.1/dist/slideout.js' %}"> {% endcomment %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<section class="HeaderWrapper" id="header_wrapper" style="background-clip: content-box">
<header id="main_header">
{#    {% cache 2500 head %}#}
    <div class="LogoImg"></div>
    <a href="{% url 'landing:main_page' %}" class="LogoText" id="LogoText">Ecology Expert</a>
    <div class="TextHeaderHorizontal">
        <p class="P_header"><a href="{% url 'landing:about_us' %}">О нас</a></p>
        <p class="P_header"><a href="{% url 'landing:services' %}">Услуги</a></p>
        <p class="P_header"><a href="{% url 'landing:pass_docs' %}">Разрешительные документы</a></p>
        <p class="P_header"><a href="{% url 'landing:news_fan' %}">Новости</a></p>
        <p class="P_header"><a href="{% url 'landing:contacts_fan' %}">Контакты</a></p>

    </div>

        {% include 'parts/mobile_header.html' %}


{#{% endcache %}#}
</header>
</section>
<section class="HeaderWrapper" id="changing" style="visibility: hidden; display: none">
<header>
{#    {% cache 2500 head %}#}
    <div class="LogoImg"></div>
    <a href="{% url 'landing:main_page' %}" class="LogoText" id="LogoText">Ecology Expert</a>
    <div class="TextHeaderHorizontal">
        <p class="P_header"><a href="https://google.com">О нас</a></p>
        <p class="P_header"><a href="{% url 'landing:services' %}">Услуги</a></p>
{#        <p class="P_header"><a href="https://google.com">Разрешительные документы</a></p>#}
        <p class="P_header"><a href="{% url 'landing:news_fan' %}">Новости</a></p>
        <p class="P_header"><a href="{% url 'landing:contacts_fan' %}">Контакты</a></p>

    </div>

        {% include 'parts/mobile_header.html' %}


{#{% endcache %}#}
</header>
</section>
{% block content %}
{% endblock content %}
<footer>
{#{% cache 3600 footer %}#}
    <div class="Footer">
        <div class="LeftSideFooter">
            <div class="FooterLogo">
            <div class="FooterLogoImg"></div>
            <a href="{% url 'landing:main_page' %}" class="LogoText">Ecology Expert</a>
            </div>
                <p class="DescripFooter">Мы являемся лидерами в своей отрасли

</p>
            <p class="LocationFooter">Улица Маркова.

<a class="EmailFooter">ecologyexpert@kz.com</a></p>
        </div>
        <div class="MiddleSideFooter">
            <h2>Недавние новости</h2>
            <div>
              {% for new in RecentNews %}
                <a class="new_description" href="{{ new.get_absolute_url }}">{{ new.title|truncatechars:75|safe }}</a>
                <p class="new_date" >{{ new.date }}</p>
              {% endfor%}
            </div>
        </div>
{#{% endcache %}#}
    {% include 'parts/form_footer.html' %}
    </div>
    <div class="UnderFooter">
        <h1>2021 ECOEX <a href="https://google.com">privacy</a></h1>
    </div>
</footer>
{% block extra_js %}
    <script src="{% static "js/change_icon.js" %}"></script>
     
{% endblock extra_js %}
</body>
</html>