<!DOCTYPE html>
{% load static %}
{% load cache %}
<html lang="en">
<head>
{% block head %}
{% endblock head %}
{% cache 2500 header %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile_header.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'img/favicons/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'img/favicons/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
{% endcache %}
{% comment %} <link rel="stylesheet" href="{% static 'js/slideout-1.0.1/dist/slideout.js' %}"> {% endcomment %}
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(62626483, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/62626483" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<section class="HeaderWrapper" id="header_wrapper" style="background-clip: content-box">
<header id="main_header">
    {% cache 2500 head %}
    <div class="LogoImg"></div>
    <a href="{% url 'landing:main_page' %}" class="LogoText" id="LogoText">Ecology Expert</a>
    <div class="TextHeaderHorizontal">
        <p class="P_header"><a href="{% url 'landing:about_us' %}">О нас</a></p>
        <p class="P_header"><a href="{% url 'landing:services' %}">Услуги</a></p>
        <p class="P_header"><a href="{% url 'landing:pass_docs' %}">Разрешительные документы</a></p>
        <p class="P_header"><a href="{% url 'landing:news_fan' %}">Новости</a></p>
        <p class="P_header"><a href="{% url 'landing:contacts_fan' %}">Контакты</a></p>

    </div>

        {% include 'parts/mobile_header.html' %}


{% endcache %}
</header>
</section>
<section class="HeaderWrapper" id="changing" style="visibility: hidden; display: none">
<header>
    {% cache 2500 head %}
    <div class="LogoImg"></div>
    <a href="{% url 'landing:main_page' %}" class="LogoText" id="LogoText">Ecology Expert</a>
    <div class="TextHeaderHorizontal">
        <p class="P_header"><a href="https://google.com">О нас</a></p>
        <p class="P_header"><a href="{% url 'landing:services' %}">Услуги</a></p>
{#        <p class="P_header"><a href="https://google.com">Разрешительные документы</a></p>#}
        <p class="P_header"><a href="{% url 'landing:news_fan' %}">Новости</a></p>
        <p class="P_header"><a href="{% url 'landing:contacts_fan' %}">Контакты</a></p>

    </div>

        {% include 'parts/mobile_header.html' %}


{% endcache %}
</header>
</section>
{% block content %}
{% endblock content %}
<footer>
{% cache 3600 footer %}
    <div class="Footer">
        <div class="LeftSideFooter">
            <div class="FooterLogo">
            <div class="FooterLogoImg"></div>
            <a href="{% url 'landing:main_page' %}" class="LogoText">Ecology Expert</a>
            </div>
                <p class="DescripFooter">Мы являемся лидерами в своей отрасли, нашими услугами пользуются множество компаний и с нами легко сотрудничать. Связаться с нами можно по почте или телефону:

</p>
            <p class="LocationFooter">
<a class="EmailFooter" href="mailto: office@ecoex.kz">office@ecoex.kz</a>
            <span> +727-377-86-14</span>
            </p>
        </div>
        <div class="MiddleSideFooter">
            <h2>Недавние новости</h2>
            <div>
              {% for new in RecentNews %}
                <a class="new_description" href="{{ new.get_absolute_url }}">{{ new.title|truncatechars:75|safe }}</a>
                <p class="new_date" >{{ new.date }}</p>
              {% endfor%}
            </div>
        </div>
{% endcache %}
    {% include 'parts/form_footer.html' %}
    </div>
    <div class="UnderFooter">
        <h1>© 2022 Ecology Expert. Все права защищены. <a href="{% url 'landing:privacy' %}">Политика конфиденциальности</a></h1>
    </div>
</footer>
{% block extra_js %}
    <script src="{% static "js/change_icon.js" %}"></script>
     
{% endblock extra_js %}
</body>
</html>