<!DOCTYPE html>
{% load static %}
{% load cache %}
<html lang="en">
<head>
{% block head %}
{% endblock head %}
{% cache 25000 header %}
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;500;800;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/base.css' %}">
<link rel="stylesheet" href="{% static 'css/mobile_header.css' %}">
{% endcache %}
{% comment %} <link rel="stylesheet" href="{% static 'js/slideout-1.0.1/dist/slideout.js' %}"> {% endcomment %}

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
<header>
    {% cache 2500 head %}
    <div class="LogoImg"></div>
    <a href="{% url 'landing:main_page' %}" class="LogoText" id="LogoText">Ecology Expert</a>
    {% comment %} <div class="TextHeaderHorizontal">
        <p class="P_header"><a href="https://google.com">Главная</a></p>
        <p class="P_header"><a href="https://google.com">О нас</a></p>
        <p class="P_header"><a href="https://google.com">some</a></p>
        <p class="P_header"><a href="https://google.com">Прайс лист</a></p>
        <p class="P_header"><a href="https://google.com">Услуги</a></p>
        <p class="P_header"><a href="https://google.com">Контакты</a></p>

    </div> {% endcomment %}

        {% include 'parts/mobile_header.html' %}


{% endcache %}
</header>

{% block content %}
{% endblock content %}
<footer>
{% cache 3600 footer %}
    <div class="Footer">
        <div class="LeftSideFooter">
            <div class="FooterLogo">
            <div class="FooterLogoImg"></div>
            <a href="{% url 'landing:main_page' %}" class="LogoText">Ecology Expert</a>
            </div>
                <p class="DescripFooter">We’re the leading provider of comprehensive waste management services, providing services that range from collection and disposal to recycling and renewable energy generation.

</p>
            <p class="LocationFooter">140 Horizon Circle, San Diego, CA

(123) 456-7890

<a class="EmailFooter">ecologyexpert@aboba.com</a></p>
        </div>
        <div class="MiddleSideFooter">
            <h2>Недавние новости</h2>
            <div>
              {% for new in RecentNews %}
                <a class="new_description" href="{{ new.get_absolute_url }}">{{ new.description|truncatechars:75 }}</a>
                <p class="new_date" >{{ new.date }}</p>
              {% endfor%}
            </div>
        </div>
        <div class="RightSideFooter">zdes forma?</div>
{% endcache %}
    {% include 'parts/form_footer.html' %}
    </div>
    <div class="UnderFooter">
        <h1>2021 ECOEX <a href="https://google.com">privacy</a></h1>
    </div>
</footer>
{% block extra_js %}
    <script src="{% static "js/change_icon.js" %}">


    </script>
{% endblock extra_js %}
</body>
</html>