{% extends 'landing/base.html' %}
{% load static %}
{% block head %}
    <title>Контакты</title>
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">

{% endblock head %}
{% block content %}
    <section class="WrapperContacts">
    <div>
    <h4>Адрес</h4>
    <p>Ekbwf geirbyf ljv </p>
    <h4>Телефоны</h4>
    <p>+777777777</p>
    <h4>E-mail</h4>
    <a>zxcqwe@gmail.com</a>
    </div>
    <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed/v1/search
  ?key=AIzaSyDVboJZyMRi-G93NasQtoIoMJQjvs3cn4Q&q=?&center=" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    </section>
{% endblock content %}