{% extends 'base.html' %}
{% load static %}
{% block head %}
    <title>Контакты</title>
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">

{% endblock head %}
{% block content %}
    <section class="WrapperContacts">
    <div>
    <h4>Адрес</h4>
    <p>Ekbwf geirbyf ljv </p>
    <h4>Телефоны</h4>
    <p>+777777777</p>
    <h4>E-mail</h4>
    <a>zxcqwe@gmail.com</a>
    </div>
    <div class="map-responsive">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d23253.26918097367!2d76.9109268!3d43.23761604999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2skz!4v1636350453678!5m2!1sen!2skz" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>
    </section>
{% endblock content %}