{% extends 'landing/base.html' %}
{% load static %}
    {% load cache %}
{% block head %}
    <title>Контакты</title>
    {% cache 3600 contacts_header %}
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'css/header_non_main.css' %}">
    <link rel="stylesheet" href="{% static 'js/ui-components-master/simple-adaptive-slider/css/simple-adaptive-slider.css' %}">
    <script defer src="{% static 'js/ui-components-master/simple-adaptive-slider/js/simple-adaptive-slider.js' %}"></script>
    {% endcache %}
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      // инициализация слайдера
      var slider = new ItcSimpleSlider('.itcss', {
        loop: false,
        autoplay: false,
        swipe: true
      });
    });
  </script>
    <meta name="description" content="У нас есть 2 филиала в разных городах, обратиться можете по телефону">
{% endblock head %}
{% block content %}

    {% cache 4000 contacts %}
    {% include 'parts/upper_kok.html' %}
    <section class="WrapperContacts">


<div class="itcss">
    <div class="itcss__wrapper">
      <div class="itcss__items">
        <div class="itcss__item">
          <div class="Address_contacts">
              <h3 class="h3_contacts">АЛМАТЫ</h3>
    <h4 class="h_four">Адрес</h4>
    <p class="p_contacts">Улица Сатпаева 88/1</p>
    <h4 class="h_four">Телефоны</h4>
    <p class="p_contacts">+727-377-86-14</p>
    <h4 class="h_four">E-mail</h4>
    <a href="mailto: office@ecoex.kz" class="p_contacts">office@ecoex.kz</a>
    <a href="mailto: lab@ecoex.kz" class="p_contacts">lab@ecoex.kz</a>

    </div>
            <div class="map-responsive">
   <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/org/86279408393/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Ecology Expert</a><a href="https://yandex.kz/maps/162/almaty/category/environmental_organization/184106288/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:14px;">Экологическая организация в Алматы</a><iframe src="https://yandex.kz/map-widget/v1/-/CCUFZ-qT-A" width="960" height="450" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
        </div>
        <div class="itcss__item">
          <div class="Address_contacts">
              <h3 class="h3_contacts">АТЫРАУ</h3>
    <h4 class="h_four">Адрес</h4>
    <p class="p_contacts">Улица Гурьевская 5</p>
    <h4 class="h_four">Телефоны</h4>
    <p class="p_contacts">+727-377-86-14</p>
    <h4 class="h_four">E-mail</h4>
    <a href="mailto: office@ecoex.kz" class="p_contacts">office@ecoex.kz</a>
    <a href="mailto: lab@ecoex.kz" class="p_contacts">lab@ecoex.kz</a>
    </div>
        <div class="map-responsive">
   <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/10291/atyrau/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Атырау</a><a href="https://yandex.kz/maps/10291/atyrau/house/YUgYfwVnS0UCQFptfX1xc35nbA==/?ll=51.927315%2C47.102330&utm_medium=mapframe&utm_source=maps&z=17.89" style="color:#eee;font-size:12px;position:absolute;top:14px;">Гурьевская улица, 5 — Яндекс Карты</a><iframe src="https://yandex.kz/map-widget/v1/-/CCUFj4H-9A" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
        </div>
        <div class="itcss__item">
          <div class="Address_contacts">
              <h3 class="h3_contacts">ТАЛДЫКОРГАН</h3>
    <h4 class="h_four">Адрес</h4>
    <p class="p_contacts">Улица Жансугурова 92</p>
    <h4 class="h_four">Телефоны</h4>
    <p class="p_contacts">+727-377-86-14</p>
    <h4 class="h_four">E-mail</h4>
    <a href="mailto: office@ecoex.kz" class="p_contacts">office@ecoex.kz</a>
    <a href="mailto: lab@ecoex.kz" class="p_contacts">lab@ecoex.kz</a>
    </div>
        <div class="map-responsive">
   <div style="position:relative;overflow:hidden;"><a href="https://yandex.kz/maps/10303/taldikorgan/?utm_medium=mapframe&utm_source=maps" style="color:#eee;font-size:12px;position:absolute;top:0px;">Талдыкорган</a><a href="https://yandex.kz/maps/10303/taldikorgan/house/Y0EYdQBpS0ICQFpvfXxwcnpmYw==/?ll=78.379985%2C45.013869&utm_medium=mapframe&utm_source=maps&z=17.89" style="color:#eee;font-size:12px;position:absolute;top:14px;">Улица Жансугурова, 92 — Яндекс Карты</a><iframe src="https://yandex.kz/map-widget/v1/-/CCUFj4Xm2D" width="560" height="400" frameborder="1" allowfullscreen="true" style="position:relative;"></iframe></div>
    </div>
        </div>
      </div>
    </div>
    <a class="itcss__control itcss__control_prev" href="#" role="button" data-slide="prev"></a>
    <a class="itcss__control itcss__control_next" href="#" role="button" data-slide="next"></a>
  </div>



    </section>
        <script src="{% static "js/non_main_page_header.js" %}"></script>
    <script>
        {% endcache %}
// When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};


</script>
{% endblock content %}