    <nav id="menu">
    <div class="BurgerWrapper">
<div class="BurgerBefore_After" id="changing_img" title="1" onclick="change_icon()">
</div>
        <div class="MobilePanel" id="Panel">
        <a href="https://www.youtube.com/">О НАС</a>
        <a href="{% url 'landing:services' %}">УСЛУГИ</a>
        <a href="{% url 'landing:news_fan' %}">НОВОСТИ</a>
        <a href="{% url 'landing:contacts_fan'%}">КОНТАКТЫ</a>
        <a>РАЗРЕШИТЕЛЬНЫЕ ДОКУМЕНТЫ</a>
        <a>ОТЗЫВЫ</a>

        </div>
</div>
</nav>